# Numpy
- Nemerical Python 과학적, 산업적 연산을 위한 패키지
- 다차원 배열, 행렬 연산에 주로 사용
* numpy는 python의 list와 비슷한 자료형
- 순서가 있는 자료형
- 인덱싱, 슬라이싱 가능
* 반복문에 넣어서 한개씩 꺼내는 것도 가능
- 파이썬 list와의 차이점은 자료형이 1개만 들어간다는 점이 다르다.

# 차원
- 0차원 = 점 . 스칼라 ex) a= 10
- 1차원 = 선 ------ 방향이 없는 벡터, 배열, list, tuple
    - 벡터(vector) : 방향을 가진 데이터
    
- 2차원 = 면, 가로, 세로, DB테이블, EXCEL의 sheet, 행렬, DataFrame, matrix
    - 행벡터: 행이 1개인 벡터 [[1,2,3,4]]
    - 열벡터: 열이 1개인 벡터 <br> 
    [[1], <br>
    [2], <br>
    [3], <br>
    [4]] <br>
- 3차원 = 입체, 가로, 세로, 깊이, 정육면체, 주사위
- 4차원 = 3차원 요소가 2개 이상 묶여 있는 상태
- 5차원 = 4차원 요소가 2개 이상 묶여 있는 상태

In [3]:
import pandas as pd
import numpy as np

In [3]:
a = np.array([1,2,3,4,5])
a

array([1, 2, 3, 4, 5])

- 차원을 출력하는 메서드 .ndim
- 차원의 형태를 출력하는 메서드 .shape : (행, 열)

In [4]:
# a는 방향이 없는 벡터이므로 1차원
a.ndim

1

In [5]:
# 행이 없고 데이터만 5개 있음
a.shape

(5,)

In [6]:
# 세로로 방향을 가진 열벡터
a2 = np.array([[1], [2], [3], [4], [5]])
a2

array([[1],
       [2],
       [3],
       [4],
       [5]])

In [8]:
print(a2.ndim)
print(a2.shape)

2
(5, 1)

In [4]:
a3 = np.array([[1,2,3,4,5]])
a3

array([[1, 2, 3, 4, 5]])

In [33]:
print(a3.ndim)
print(a3.shape)

2
(1, 5)

In [5]:
# 2차원 데이터 matrix, dataframe
c = np.array([[1,2,3,4,5], [6,7,8,9,10]])
print(c.ndim)
print(c.shape)

2
(2, 5)

In [6]:
# 3차원 데이터
d = np.array([[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]])
d

array([[[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10]],

       [[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10]],

       [[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10]]])

In [18]:
# d.shape : (개수, 행, 열) : 2행 5열짜리 3개
print(d.ndim)
print(d.shape)

3
(3, 2, 5)

In [15]:
e = np.array([[[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]], [[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]]])
e

array([[[[ 1,  2,  3,  4,  5],
         [ 6,  7,  8,  9, 10]],

        [[ 1,  2,  3,  4,  5],
         [ 6,  7,  8,  9, 10]]],


       [[[ 1,  2,  3,  4,  5],
         [ 6,  7,  8,  9, 10]],

        [[ 1,  2,  3,  4,  5],
         [ 6,  7,  8,  9, 10]]]])

In [16]:
print(e.ndim)
print(e.shape)

4
(2, 2, 2, 5)

In [22]:
f = np.array([[[[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]], [[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]]],[[[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]], [[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]]], [[[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]], [[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]]]])
f

array([[[[[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]]],


        [[[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]]]],



       [[[[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]]],


        [[[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]]]],



       [[[[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]]],


        [[[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]],

         [[ 1,  2,  3,  4,  5],
          [ 6,  7,  8,  9, 10]]]]])

In [23]:
print(f.ndim)
print(f.shape)

5
(3, 2, 2, 2, 5)

# 넘파이를 사용하는 이유
- 행렬 연산이 쉽고 빠르기 때문

In [24]:
a = 10
b = 5
scalar = a+b
print(scalar)

15

1차원 벡터 데이터의 연산

In [26]:
b1 = [1,2,3,4,5]

In [27]:
# b1의 모든 요소에 10을 곱한 후 다시 리스트로 만드세요
result = []
for num in b1:
    result.append(num * 10)
result

[10, 20, 30, 40, 50]

In [29]:
# 리스트 표현식
result2 = [num * 10 for num in b1]
result2

[10, 20, 30, 40, 50]

In [30]:
# 반복문 안 돌려도 numpy 사용하면 바로 계산이 됨
a2 * 10

array([[10],
       [20],
       [30],
       [40],
       [50]])

In [34]:
a3 * 10

array([[10, 20, 30, 40, 50]])

2차원데이터에 10 곱하기

In [35]:
# 2차원인 경우 for문 두 번 돌려야 함 -> 차원의 개수만큼 반복문 필요
result = []
for num1 in c:
    temp = []
    for num2 in num1:
        temp.append(num2 * 10)
    result.append(temp)
result

[[np.int64(10), np.int64(20), np.int64(30), np.int64(40), np.int64(50)],
 [np.int64(60), np.int64(70), np.int64(80), np.int64(90), np.int64(100)]]

In [36]:
# numpy 사용 시 반복문 필요 없어 계산이 빠름
c * 10

array([[ 10,  20,  30,  40,  50],
       [ 60,  70,  80,  90, 100]])

In [37]:
d * 10

array([[[ 10,  20,  30,  40,  50],
        [ 60,  70,  80,  90, 100]],

       [[ 10,  20,  30,  40,  50],
        [ 60,  70,  80,  90, 100]],

       [[ 10,  20,  30,  40,  50],
        [ 60,  70,  80,  90, 100]]])

# .size
배열 안에 요소가 몇 개 있는지

In [7]:
a3.size

5

# .dtype
- 데이터 타입이 무엇인지 출력

In [8]:
d.dtype

dtype('int64')

In [9]:
d2 = d/2
d2

array([[[0.5, 1. , 1.5, 2. , 2.5],
        [3. , 3.5, 4. , 4.5, 5. ]],

       [[0.5, 1. , 1.5, 2. , 2.5],
        [3. , 3.5, 4. , 4.5, 5. ]],

       [[0.5, 1. , 1.5, 2. , 2.5],
        [3. , 3.5, 4. , 4.5, 5. ]]])

In [11]:
d2.dtype

dtype('float64')

# .astype(데이터타입명)
- 데이터타입을 바꾸고 싶을 때

In [12]:
d2.astype(int)

array([[[0, 1, 1, 2, 2],
        [3, 3, 4, 4, 5]],

       [[0, 1, 1, 2, 2],
        [3, 3, 4, 4, 5]],

       [[0, 1, 1, 2, 2],
        [3, 3, 4, 4, 5]]])

In [13]:
d2.astype(str)

array([[['0.5', '1.0', '1.5', '2.0', '2.5'],
        ['3.0', '3.5', '4.0', '4.5', '5.0']],

       [['0.5', '1.0', '1.5', '2.0', '2.5'],
        ['3.0', '3.5', '4.0', '4.5', '5.0']],

       [['0.5', '1.0', '1.5', '2.0', '2.5'],
        ['3.0', '3.5', '4.0', '4.5', '5.0']]], dtype='<U32')

In [14]:
d2.dtype

dtype('float64')

In [15]:
d2.astype('float32')

array([[[0.5, 1. , 1.5, 2. , 2.5],
        [3. , 3.5, 4. , 4.5, 5. ]],

       [[0.5, 1. , 1.5, 2. , 2.5],
        [3. , 3.5, 4. , 4.5, 5. ]],

       [[0.5, 1. , 1.5, 2. , 2.5],
        [3. , 3.5, 4. , 4.5, 5. ]]], dtype=float32)

In [16]:
d2.astype('float16')

array([[[0.5, 1. , 1.5, 2. , 2.5],
        [3. , 3.5, 4. , 4.5, 5. ]],

       [[0.5, 1. , 1.5, 2. , 2.5],
        [3. , 3.5, 4. , 4.5, 5. ]],

       [[0.5, 1. , 1.5, 2. , 2.5],
        [3. , 3.5, 4. , 4.5, 5. ]]], dtype=float16)

# ndarray 만들기
- ndarray는 numpy의 기본 자료형
- 자료형은 반드시 한가지만 넣을 수 있다.
- 2개 이상의 자료형이 있는 경우 문자 -> 실수 -> 정수 순으로 우선 순위가 매겨진다.

In [19]:
e = np.array([1,2,3,4,5])
print(e.dtype)
e

int64

array([1, 2, 3, 4, 5])

In [20]:
e2 = np.array([1,2,3.14,4,5])
print(e2.dtype)
e2

float64

array([1.  , 2.  , 3.14, 4.  , 5.  ])

In [21]:
e3 = np.array([1,2,3.14,'4',5])
print(e3.dtype)
e3

<U32

array(['1', '2', '3.14', '4', '5'], dtype='<U32')

np.arange(시작, 끝, step)

In [23]:
a = np.arange(1, 11, 2)
a

array([1, 3, 5, 7, 9])

In [24]:
a2 = np.arange(11, 1, -3)
a2

array([11,  8,  5,  2])

In [25]:
# 1-100까지 있는 array
a3 = np.arange(1, 101)
a3

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [26]:
print(a3.ndim, a3.shape)

1 (100,)

# .reshape(행, 열)
- ndarray의 모양을 자유롭게 변형시켜주는 메서드

In [30]:
a3 = a3.reshape(20, 5)
print(a3.ndim, a3.shape)
a3

2 (20, 5)

array([[  1,   2,   3,   4,   5],
       [  6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15],
       [ 16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25],
       [ 26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35],
       [ 36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45],
       [ 46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55],
       [ 56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65],
       [ 66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75],
       [ 76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85],
       [ 86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95],
       [ 96,  97,  98,  99, 100]])

In [31]:
a4 = a3.reshape(5,2,2,5)
print(a4.ndim, a4.shape)
a4

4 (5, 2, 2, 5)

array([[[[  1,   2,   3,   4,   5],
         [  6,   7,   8,   9,  10]],

        [[ 11,  12,  13,  14,  15],
         [ 16,  17,  18,  19,  20]]],


       [[[ 21,  22,  23,  24,  25],
         [ 26,  27,  28,  29,  30]],

        [[ 31,  32,  33,  34,  35],
         [ 36,  37,  38,  39,  40]]],


       [[[ 41,  42,  43,  44,  45],
         [ 46,  47,  48,  49,  50]],

        [[ 51,  52,  53,  54,  55],
         [ 56,  57,  58,  59,  60]]],


       [[[ 61,  62,  63,  64,  65],
         [ 66,  67,  68,  69,  70]],

        [[ 71,  72,  73,  74,  75],
         [ 76,  77,  78,  79,  80]]],


       [[[ 81,  82,  83,  84,  85],
         [ 86,  87,  88,  89,  90]],

        [[ 91,  92,  93,  94,  95],
         [ 96,  97,  98,  99, 100]]]])

In [32]:
# 몇 개로 바꿔야 할지 모를 때 -1로두면 됨
a5 = a3.reshape(-1,2,2)
print(a5.ndim, a5.shape)
a5

3 (25, 2, 2)

array([[[  1,   2],
        [  3,   4]],

       [[  5,   6],
        [  7,   8]],

       [[  9,  10],
        [ 11,  12]],

       [[ 13,  14],
        [ 15,  16]],

       [[ 17,  18],
        [ 19,  20]],

       [[ 21,  22],
        [ 23,  24]],

       [[ 25,  26],
        [ 27,  28]],

       [[ 29,  30],
        [ 31,  32]],

       [[ 33,  34],
        [ 35,  36]],

       [[ 37,  38],
        [ 39,  40]],

       [[ 41,  42],
        [ 43,  44]],

       [[ 45,  46],
        [ 47,  48]],

       [[ 49,  50],
        [ 51,  52]],

       [[ 53,  54],
        [ 55,  56]],

       [[ 57,  58],
        [ 59,  60]],

       [[ 61,  62],
        [ 63,  64]],

       [[ 65,  66],
        [ 67,  68]],

       [[ 69,  70],
        [ 71,  72]],

       [[ 73,  74],
        [ 75,  76]],

       [[ 77,  78],
        [ 79,  80]],

       [[ 81,  82],
        [ 83,  84]],

       [[ 85,  86],
        [ 87,  88]],

       [[ 89,  90],
        [ 91,  92]],

       [[ 93,  94],
        [ 95,  96]],

       [[ 97,  98],
        [ 99, 100]]])

In [33]:
a5 = a3.reshape(2,-1,2)
print(a5.ndim, a5.shape)
a5

3 (2, 25, 2)

array([[[  1,   2],
        [  3,   4],
        [  5,   6],
        [  7,   8],
        [  9,  10],
        [ 11,  12],
        [ 13,  14],
        [ 15,  16],
        [ 17,  18],
        [ 19,  20],
        [ 21,  22],
        [ 23,  24],
        [ 25,  26],
        [ 27,  28],
        [ 29,  30],
        [ 31,  32],
        [ 33,  34],
        [ 35,  36],
        [ 37,  38],
        [ 39,  40],
        [ 41,  42],
        [ 43,  44],
        [ 45,  46],
        [ 47,  48],
        [ 49,  50]],

       [[ 51,  52],
        [ 53,  54],
        [ 55,  56],
        [ 57,  58],
        [ 59,  60],
        [ 61,  62],
        [ 63,  64],
        [ 65,  66],
        [ 67,  68],
        [ 69,  70],
        [ 71,  72],
        [ 73,  74],
        [ 75,  76],
        [ 77,  78],
        [ 79,  80],
        [ 81,  82],
        [ 83,  84],
        [ 85,  86],
        [ 87,  88],
        [ 89,  90],
        [ 91,  92],
        [ 93,  94],
        [ 95,  96],
        [ 97,  98],
        [ 99, 100]]])

# flatten()
- 다차원 배열을 1차원으로 펼쳐줌

In [34]:
a5.shape

(2, 25, 2)

In [35]:
a6 = a5.flatten()
print(a6.shape)
a6

(100,)

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

# np.flip()
- 행열의 순서를 뒤집을 때

In [36]:
a5 = np.arange(1,21)
a5 = a5.reshape(-1, 2, 2)
a5

array([[[ 1,  2],
        [ 3,  4]],

       [[ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12]],

       [[13, 14],
        [15, 16]],

       [[17, 18],
        [19, 20]]])

In [37]:
a2[::-1]

array([ 2,  5,  8, 11])

In [38]:
# 이렇게 하면 가장 큰 틀의 순서만 바뀜
a5[::-1]

array([[[17, 18],
        [19, 20]],

       [[13, 14],
        [15, 16]],

       [[ 9, 10],
        [11, 12]],

       [[ 5,  6],
        [ 7,  8]],

       [[ 1,  2],
        [ 3,  4]]])

In [39]:
# 이거는 요소들의 순서도 바뀜
np.flip(a5)

array([[[20, 19],
        [18, 17]],

       [[16, 15],
        [14, 13]],

       [[12, 11],
        [10,  9]],

       [[ 8,  7],
        [ 6,  5]],

       [[ 4,  3],
        [ 2,  1]]])

# np.linspace(시작, 끝, 구간 수)
- 정해진 숫자 범위 안에서 균등하게 구간을 나눌 때

In [41]:
# 1에서 10까지 10개로 균등하게 나누기
np.linspace(1, 10, 10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [42]:
# 1에서 10까지 33개로 균등하게 나누기
np.linspace(1, 10, 33)

array([ 1.     ,  1.28125,  1.5625 ,  1.84375,  2.125  ,  2.40625,
        2.6875 ,  2.96875,  3.25   ,  3.53125,  3.8125 ,  4.09375,
        4.375  ,  4.65625,  4.9375 ,  5.21875,  5.5    ,  5.78125,
        6.0625 ,  6.34375,  6.625  ,  6.90625,  7.1875 ,  7.46875,
        7.75   ,  8.03125,  8.3125 ,  8.59375,  8.875  ,  9.15625,
        9.4375 ,  9.71875, 10.     ])

# 정렬과 순위 (sort, argsort)
- np.sort() : 실제로 정렬된 값을 리턴
- np.argsort() : 정렬 했을 때의 인덱스 순서를 리턴 (원자료의 변형없이 작업하고 싶을 떄)
    - 누가 1위인지 1위의 위치를 알려준다

In [47]:
f = np.array([5,7,11,1,3,2,54,0,0.5,68])

In [45]:
# 반환값없이 그냥 원본자체가 변해버림
# f.sort()

In [49]:
# 원본 안바뀜
print(sorted(f))

[np.float64(0.0), np.float64(0.5), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(5.0), np.float64(7.0), np.float64(11.0), np.float64(54.0), np.float64(68.0)]

In [50]:
np.sort(f)

array([ 0. ,  0.5,  1. ,  2. ,  3. ,  5. ,  7. , 11. , 54. , 68. ])

In [51]:
arr = np.array([
    [[5,2,8],
    [1,6,7]],
    
    [[4, 9, 3],
    [0, 2, 1]]
])

In [52]:
print(arr)
print(arr.ndim, arr.shape)

[[[5 2 8]
  [1 6 7]]

 [[4 9 3]
  [0 2 1]]]
3 (2, 2, 3)

In [53]:
# 가장 낮은 차원의 데이터가 정렬
# axis=-1 배열의 가장 안쪽 1차원 배열을 오름차순 정렬
# np.sort() 함수의 axis기본값은 -1
np.sort(arr)

array([[[2, 5, 8],
        [1, 6, 7]],

       [[3, 4, 9],
        [0, 1, 2]]])

In [54]:
np.sort(arr, axis=0)

array([[[4, 2, 3],
        [0, 2, 1]],

       [[5, 9, 8],
        [1, 6, 7]]])

In [55]:
np.sort(arr, axis=1)

array([[[1, 2, 7],
        [5, 6, 8]],

       [[0, 2, 1],
        [4, 9, 3]]])

# argsort()
- 자료 중 값이 작은 것에서 큰 순으로 원래 자리의 인덱스 출력

In [57]:
g = np.array([5, 0.5, -1, 42, 10, 0])
g

array([ 5. ,  0.5, -1. , 42. , 10. ,  0. ])

In [59]:
s = g.argsort()
s

array([2, 5, 1, 0, 4, 3])

In [60]:
g[s]

array([-1. ,  0. ,  0.5,  5. , 10. , 42. ])

In [61]:
g[s][::-1]

array([42. , 10. ,  5. ,  0.5,  0. , -1. ])

# 최대값/최소값 위치 출력 (argmax/argmin)
- 인덱스만 출력

In [62]:
#index3번이 가장 크다
np.argmax(g)

np.int64(3)

In [63]:
# 값 출력 방식
g[np.argmax(g)]

np.float64(42.0)

In [64]:
np.argmin(g)

np.int64(2)

In [65]:
g[np.argmin(g)]

np.float64(-1.0)

# np.where(조건, 참, 거짓) 3항 연산

In [66]:
num = np.arange(1,11)
num

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [70]:
result = []
for i in num:
    if i % 2 == 0:
        result.append("짝수")
    else:
        result.append('홀수')
result = np.array(result)
result

array(['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수'],
      dtype='<U2')

In [71]:
np.where(num % 2 == 0, "짝수", "홀수")

array(['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수'],
      dtype='<U2')

# 배열 합치기 np.concatenate()
pd.concat()

In [72]:
a = np.arange(1,5).reshape(2,2)
b = np.arange(5,9).reshape(2,2)
print(a, a.shape, a.ndim)
print(b, b.shape, b.ndim)

[[1 2]
 [3 4]] (2, 2) 2
[[5 6]
 [7 8]] (2, 2) 2

- np.concatenate((a,b))
- 합치는 기본 방향은 axis=0, 행이 늘어남, 아래로 붙음
- axis=1 , 열이 늘어남, 옆으로 붙음

In [73]:
np.concatenate((a,b))

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

# 합치는 방향의 모양이 일치하지 않으면 합치기 X

In [74]:
c = np.array([5, 6])
c

array([5, 6])

In [75]:
np.concatenate((a,c))

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 1 dimension(s)

In [76]:
c1 = np.array([[5,6]])
c1

array([[5, 6]])

In [77]:
np.concatenate((a,c1))

array([[1, 2],
       [3, 4],
       [5, 6]])

In [78]:
np.concatenate((a,c1), axis=1)

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 2 and the array at index 1 has size 1

In [79]:
d = np.array([[1,2,3]])
d

array([[1, 2, 3]])

In [80]:
np.concatenate((a,d))

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 2 and the array at index 1 has size 3

- 행방향 axis=0 으로 합칠 때는 차원과 열의 개수가 같아야만 합쳐짐
- 열방향 axis=1 으로 합칠 떄는 차원과 행의 개수가 같아야만 합쳐짐

# 전치 행렬 만들기
- .transpose(), .T
- 행과 열을 바꿔줌

In [81]:
h = np.arange(1,7).reshape(2,3)
h

array([[1, 2, 3],
       [4, 5, 6]])

In [84]:
# 원래는 에러가 남
np.concatenate((a,h))

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 2 and the array at index 1 has size 3

In [86]:
h.transpose()

array([[1, 4],
       [2, 5],
       [3, 6]])

In [85]:
np.concatenate((a, h.transpose()))

array([[1, 2],
       [3, 4],
       [1, 4],
       [2, 5],
       [3, 6]])

In [83]:
h.T

array([[1, 4],
       [2, 5],
       [3, 6]])

# 브로드 캐스팅
- 벡터와 스칼라, 혹은 매트릭스와 벡터를 연산할 때 자동으로 행렬 크기를 맞춰주는 것

In [87]:
a = np.arange(1, 16).reshape(3,5)
a

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [88]:
a + 10

array([[11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [89]:
b = np.array([10,20,30,40,50])

In [90]:
a

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [91]:
a+b

array([[11, 22, 33, 44, 55],
       [16, 27, 38, 49, 60],
       [21, 32, 43, 54, 65]])

In [96]:
c = np.array([[10,20,30,40,50]])
c

array([[10, 20, 30, 40, 50]])

In [93]:
c.T.shape

(5, 1)

In [95]:
print(a.shape)
a

(3, 5)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

# 축(axis)기반 집계 연산

In [98]:
mat = np.array([[1,2,3], [4,5,6]])
print(mat)

[[1 2 3]
 [4 5 6]]

In [99]:
# 전체 요소 합
np.sum(mat)

np.int64(21)

In [100]:
# 열 별 합
np.sum(mat, axis=0)

array([5, 7, 9])

In [101]:
# 행 별 합
np.sum(mat, axis=1)

array([ 6, 15])

# 배열 초기화 함수(zeros, ones, full, zeros_like)

In [102]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [103]:
np.ones((2,3,4))

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

In [104]:
np.full((2,3,4,5), 7)

array([[[[7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7]],

        [[7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7]],

        [[7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7]]],


       [[[7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7]],

        [[7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7]],

        [[7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7],
         [7, 7, 7, 7, 7]]]])

In [105]:
base = np.arange(6).reshape(2,3)
base

array([[0, 1, 2],
       [3, 4, 5]])

In [106]:
np.zeros_like(base)

array([[0, 0, 0],
       [0, 0, 0]])

# 계산하기

In [107]:
# 행은 날짜, 열 지점별 수입
sales = np.array([
    [100, 120,130],
    [90, 160, 110],
    [200, 180, 150],
    ])

sales

array([[100, 120, 130],
       [ 90, 160, 110],
       [200, 180, 150]])

In [108]:
print("총 매출 합계:", np.sum(sales))

총 매출 합계: 1240

In [112]:
# 지점별 합계
print("지점별(행) 합계:", np.sum(sales, axis=0))

지점별(행) 합계: [390 460 390]

In [113]:
# 일자별 합계
print("일자별(열) 합계:", np.sum(sales, axis=1))

일자별(열) 합계: [350 360 530]

In [114]:
# 전체평균
np.mean(sales)

np.float64(137.77777777777777)

In [115]:
# 지점별 평균
np.mean(sales, axis=0)

array([130.        , 153.33333333, 130.        ])

In [116]:
# 일자별 평균
np.mean(sales, axis=1)

array([116.66666667, 120.        , 176.66666667])

In [117]:
# 누적합 cumsum
cashflow = np.array([100, -20, 50, -10])
print("누적잔고:", np.cumsum(cashflow))

누적잔고: [100  80 130 120]

In [118]:
rates = np.array([1.01, 1.03, 0.99, 1.05])
rates

array([1.01, 1.03, 0.99, 1.05])

In [119]:
# 곱셈 : cumprod()
# 경제성장률이 2019 3%, 2020 5%, 2021 4%, 2022 -5%
print("누적 성장률:", np.cumprod(rates))

누적 성장률: [1.01       1.0403     1.029897   1.08139185]

### 분산, 표준편차

In [120]:
classA = np.array([70, 72, 68, 69, 71])
classB = np.array([50, 90, 30, 100, 10])

In [123]:
# 평균
print("A반의 평균:", np.mean(classA))
print("B반의 평균:", np.mean(classB))

A반의 평균: 70.0

In [125]:
# 분산
print("A반의 분산:", np.var(classA))
print("B반의 분산:", np.var(classB))

A반의 분산: 2.0
B반의 분산: 1184.0

In [126]:
# 표준편차
print("A반의 표준편차:", np.std(classA))
print("B반의 표준편차:", np.std(classB))

A반의 표준편차: 1.4142135623730951
B반의 표준편차: 34.40930106817051

# 고유값과 빈도 구하기 unique

In [128]:
brands = np.array(["AAPL", "TSA", "AAPL", "NVDA", "TSLA", "GOOGL",
                  "AAPL", "TSA", "AAPL", "NVDA", "TSLA", "GOOGL",
                  "AAPL", "TSA", "AAPL", "NVDA", "TSLA", "GOOGL",
                  "AAPL", "TSA", "AAPL", "NVDA", "TSLA", "GOOGL",
                  "AAPL", "TSA", "AAPL", "NVDA", "TSLA", "GOOGL"])

In [129]:
np.unique(brands)

array(['AAPL', 'GOOGL', 'NVDA', 'TSA', 'TSLA'], dtype='<U5')

In [130]:
np.unique(brands, return_counts=True)

(array(['AAPL', 'GOOGL', 'NVDA', 'TSA', 'TSLA'], dtype='<U5'),
 array([10,  5,  5,  5,  5]))

# 삼각행렬 인덱스 (triu_indixes/ tril_indices)
- 상관계수 행렬, 공분산 행렬, 코사인 유사도 행렬 들은 행과 열이 대칭인 대칭행렬
- 중복을 줄이기 위해서 위쪽 삼각형 또는 아래쪽 삼각형말 다룰 때 사용
* np.triu_indices(n): n x n 행렬에서 위 삼각형의 위치 좌표를 출력
* np.tril_indices(n): n x n 행렬에서 아래 삼각형외 위치 좌표를 출력

In [132]:
mask_up = np.zeros((3,3))
mask_up

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [135]:
# 출력은 행, 열 순으로 나옴
row_up, col_up = np.triu_indices(3)
print(row_up)
print(col_up)

[0 0 0 1 1 2]
[0 1 2 1 2 2]

In [136]:
mask_up[row_up, col_up] = 1

In [137]:
mask_up

array([[1., 1., 1.],
       [0., 1., 1.],
       [0., 0., 1.]])

In [138]:
row_bottom, col_bottom = np.tril_indices(3)

In [139]:
mask_up[row_bottom, col_bottom] = 3

In [140]:
mask_up

array([[3., 1., 1.],
       [3., 3., 1.],
       [3., 3., 3.]])

# 인덱싱, 슬라이싱

In [141]:
z = np.arange(1,31).reshape(5, -1)
z

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30]])

In [142]:
z[0]

array([1, 2, 3, 4, 5, 6])

In [145]:
z[2, 2]

np.int64(15)

In [147]:
z[:3, :3]

array([[ 1,  2,  3],
       [ 7,  8,  9],
       [13, 14, 15]])

In [148]:
z[2:4, 2:4]

array([[15, 16],
       [21, 22]])

In [149]:
z[2:6, 2:7:2]

array([[15, 17],
       [21, 23],
       [27, 29]])

In [150]:
z[[0, 0, 0, 1, 1, 2],[0,1,2,1,2,2]]

array([ 1,  2,  3,  8,  9, 15])

In [151]:
z[[0, 0, 0, 1, 1, 2],[0,1,2,1,2,2]] = 0
z

array([[ 0,  0,  0,  4,  5,  6],
       [ 7,  0,  0, 10, 11, 12],
       [13, 14,  0, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30]])